@import "commom";

html.boletobr {

  #bb {
    .ti {font: 9px Arial, Helvetica, sans-serif}

    @media screen,print {

    //* *** BOLETO *** */



      .header {
        display: block;
        width: 666px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 2px navy solid;
        > div { float: left; }
        .field_cod_banco {
          width: 46px;
          height: 19px;
          margin-top: 10px;
          margin-left: 5px;
          padding-top: 3px;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          color: navy;
          border-right: 2px solid navy;
          border-left: 2px solid navy;
        }
        .linha_digitavel {
          text-align: right;
          font: bold 15px Arial;
          color: navy;
          float: right;
          line-height: 40px;
        }
      }






      .line {
        margin-bottom: 3px;
        padding-bottom: 1px;
        border-bottom: 1px black solid;
        > div {
          float: left;
          &:last-child {
            float: right;
            p {
              padding-right: 5px;
            }
            > .line:last-child{
              border-bottom: 0px;
            }
          }

          &.border, .border {border-left: 5px #ffe000 solid; }
          &.highlight { background-color: #ffffcc; }

          p.title {
            height: 13px;
            font-family: 'Arial Narrow';
            font-size: 9px;
            color: navy;
            padding-left: 2px;
          }
          p.content {
            height: 12px;
            font-size: 10px;
            color: black;
            padding-left: 2px;
          }
        }


      }

      table.line tr.titulos td {
        height: 13px;
        font-family: 'Arial Narrow';
        font-size: 9px;
        color: navy;
        border-left: 5px #ffe000 solid;
        padding-left: 2px;
      }

      table.line tr.campos td {
        height: 12px;
        font-size: 10px;
        color: black;
        border-left: 5px #ffe000 solid;
        padding-left: 2px;
      }

      table.line td p {
        font-size: 10px;
      }

      div.barcode {
        width: 666px;
        margin-bottom: 20px;
      }
    }
  }
}